root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,jsx,ts,tsx}]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
quote_type = single
spaces_around_brackets = inside
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
insert_final_newline = false
max_line_length = off

[*.json]
indent_size = 4
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[*.{yml,yaml}]
indent_size = 2

[docker-compose.yml]
indent_size = 4